* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #060606 0%,
    #060606 25%,
    #06193a 40%,
    #132548 50%,
    #061631 60%,
    #060606 75%,
    #060606 100%
  );
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  height: 100vh; 
  padding: 10px;
}

.left {
  width: 20%; 
}

.middle {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 60%;
}

.middle-top {
  height: 10;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-bottom {
  height: 90%;
  overflow-y: auto; 
  text-align: center;
  display: block;
  padding: 10px;
  scrollbar-width: none; /* Completely hide the scrollbar */
}


.right {
  width: 20%; 
  background-color: lightcoral;
}


