*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background: linear-gradient(135deg, 
    #000000 0%, 
    #000000 25%, 
    #06193a 40%, 
    #132548 50%, 
    #061631 60%, 
    #000000 75%, 
    #000000 100%);
  min-height: 100vh;
  margin-left: 60px;
  margin-top: 55px;
  border: 1px solid red; 
  color: white; 
}

/* *{
  border: 1px solid red;
} */

.inner-div{
  background: rgb(17,43,81,);
  background: linear-gradient(
  172deg, 
rgba(17,43,81,0.727328431372549) 35%, 
rgba(32,79,149,1) 100%);
  border-radius: 35px;
  width: 350px;
  height: 800px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

