* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #060606 0%,
    #060606 25%,
    #06193a 40%,
    #132548 50%,
    #061631 60%,
    #060606 75%,
    #060606 100%
  );
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch; 
  height: 99vh; 
}

.left {
  width: 20%; 
}

.middle {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%; 
  width: 60%;
}

.middle-top {
  height: 10;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-bottom {
  height: 90%;
  width: 100%;
  overflow-y: auto; 
  text-align: center;
  display: block;
  scrollbar-width: none; 
}


.right {

  padding-top: 10px;
  padding-bottom: 10px;
  width:15%; 
}


